<div id="map" #map></div>

<div class="floating-range p-2 bg-black text-white text-center">
  <div class="grid grid-cols-6">
    <button (click)="zoomOut()" class="p-2 col-span-1"> - </button>
    <input class="col-span-4 " type="range" min="0" max="18" [value]="zoom" (input)="zoomChanged(zoomInput.value)"
      #zoomInput>
    <button (click)="zoomIn()" class="p-2 col-span-1"> + </button>
  </div>

  <span>
    Zoom: {{ zoom |number:'2.2-2' }}
    <br>
    {{ currentLocation }}
  </span>
</div>